* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

#root {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    border: black 2px solid;
    padding: 0 10px;
    width: 100%;
}

#cartItemsAmount{
    position: absolute;
    right: 38px;
    top: 14px;
    background-color: #000000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

#cartIcon{
    margin-top: 10px;
    height: 25px;
    width: 25px;
}

#cartButton {
    width: 100px;
    height: 60px;
    border-radius: 5%;
    background-color: #015582;
    color: #ffffff;
}

#cartButton:hover {
 background-color: #459abe;
}

.hidden{
    display: none;
}

h1{
    cursor: pointer;
    background-color: #015582;
    color: #ffffff;
    padding: 10px;
    border-radius: 2%;
}

h1:hover{
  scale: 102%;
}

ul {
    list-style: none;
}

button{
    cursor: pointer;
}

#statusMessage{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#statusMessage section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 500px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
}

#statusMessage button{
  height: 30px;
  width: 50px;
  border-radius: 2px;
  margin-top: 15px;
  background-color: #015582;
  color: #ffffff;
}

#statusMessage button:hover{
    background-color: #459abe;
}

#statusMessage h2{
    text-decoration: underline;
}